In [151]:
import pandas as pd 
import numpy as np
import torch

from helper import convertStringIntoDate

In [9]:
runner_df = pd.read_csv("data/raw/runners_UK2.csv", index_col=[0])
race_df = pd.read_csv("data/raw/races_UK2.csv", index_col=[0])

In [10]:
new_going = race_df['going'].astype('category').cat.codes

In [45]:
race_df['race_age'].unique()

array(['6yo+', '4yo+', ' 4yo+', '3yo+', '5-7yo', '5yo', '3yo', ' 3yo',
       ' 5yo+', '5yo+', '4yo', '4-6yo', '6yo', ' 4-6yo', ' 3yo+', '5-6yo',
       '4-7yo', '3-5yo', '4-5yo', '4-8yo', ' 3-5yo', ' 4-5yo', '2yo',
       ' 4yo', ' 6yo+', ' 10yo+', '3-4yo', ' 4-7yo', 0, ' 5-7yo', '2yo+',
       ' 2yo', ' 3-4yo', '2-3yo', '0-45', ' 2yo+', ' 2-3yo', '3-6yo',
       ' 5-6yo', '10yo+', ' 4-8yo', '7yo+', '9yo+', ' 8yo+', '8yo+',
       ' 9yo+', ' 3-6yo', '5-8yo', '6-7yo'], dtype=object)

In [31]:
race_class_to_scale_dict = {
    '(Class 7)': 1,
    '(Class 6)': 2,
    '(Class 5)': 3,
    '(Class 4)': 4,
    '(Class 3)': 5,
    '(Class 2)': 6,
    '(Class 1)': 7,
}

In [22]:
going_to_scale_dict = {
    'Muddy': 0,
    'Sloppy': 0,
    'Very Soft': 1,
    'Heavy': 1,
    'Soft To Heavy': 2,
    'Soft': 3,
    'Yielding To Soft': 4,
    'Good To Soft': 5,
    'Yielding': 6,
    'Good To Yielding': 7,
    'Good':8,
    'Good To Firm':9,
    'Firm': 10,
    'Frozen': 11,

    'Slow': 3,
    'Sta   ndard To Slow': 4,
    'Standard To Slow': 4,
    'Standard': 6,
    'Fast': 8, 
    'Abandoned': 0,

}

In [ ]:
going_original_name_dict = {
    'Muddy': 'heavy',
    'Sloppy': 'heavy',
    'Very Soft': 'heavy',
    'Heavy': 'heavy',
    'Soft To Heavy': 'soft',
    'Soft': 'soft',
    'Yielding To Soft': 'good_soft',
    'Good To Soft': 'good_soft',
    'Yielding': 'good_soft',
    'Good To Yielding': 'good',
    'Good':'good',
    'Good To Firm':'good_firm',
    'Firm': 'firm',
    'Frozen': 'firm',

    'Slow': 'soft',
    'Sta   ndard To Slow': 'good_soft',
    'Standard To Slow': 'good_soft',
    'Standard': 'good',
    'Fast': 'firm', 
    'Abandoned': 'firm',
}

In [32]:
race_df['race_class_cats'] = race_df['race_class'].replace(race_class_to_scale_dict)

In [23]:
race_df['going_cats'] = race_df['going'].replace(going_to_scale_dict)

In [59]:
race_df['going_cats'], race_df['going']

(0         3
 1         3
 2         3
 3         6
 4         6
          ..
 217000    8
 217001    8
 217002    8
 217003    8
 217004    8
 Name: going_cats, Length: 217005, dtype: object,
 0             Soft
 1             Soft
 2             Soft
 3         Standard
 4         Standard
             ...
 217000        Good
 217001        Good
 217002        Fast
 217003        Fast
 217004        Good
 Name: going, Length: 217005, dtype: object)

In [57]:
runner_df.columns.values

array(['race_id', 'horse_ids', 'horse_names', 'draws', 'horse_ages',
       'horse_weight', 'horse_win_percents', 'jockey_ids',
       'jockey_win_percent', 'trainer_ids', 'trainer_win_percent',
       'days_since_last_race', 'mean_speed_figures', 'last_figures',
       'best_figures_dist', 'best_figures_going', 'top_speeds', 'ratings',
       'official_ratings', 'odds', 'places'], dtype=object)

In [54]:
runner_df['draws'].replace({np.isnan, np.random.randint()})

NameError: name 'random' is not defined

In [51]:
pd.qcut(runner_df['draws'], q=10, labels=False)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
     ...
12    9.0
13    9.0
14    9.0
15    4.0
16    6.0
Name: draws, Length: 2153513, dtype: float64

In [65]:
race_df['dist_cat'] = pd.qcut(race_df['distance'], q=10, labels=False)

In [82]:
runner_df['horse_ages'] = np.abs(runner_df['horse_ages'])

In [84]:
runner_df.loc[runner_df.horse_ages < 0]

Empty DataFrame
Columns: [race_id, horse_ids, horse_names, draws, horse_ages, horse_weight, horse_win_percents, jockey_ids, jockey_win_percent, trainer_ids, trainer_win_percent, days_since_last_race, mean_speed_figures, last_figures, best_figures_dist, best_figures_going, top_speeds, ratings, official_ratings, odds, places]
Index: []

[0 rows x 21 columns]

In [90]:
runner_df['places']

0       1
1       2
2       3
3       4
4       5
     ...
12    13Â
13    14Â
14    15Â
15    16Â
16    17Â
Name: places, Length: 2153513, dtype: object

In [74]:
runner_df['horse_ages']

0     7.0
1     6.0
2     7.0
3     8.0
4     5.0
     ...
12    6.0
13    5.0
14    4.0
15    4.0
16    6.0
Name: horse_ages, Length: 2153513, dtype: float64

In [180]:
fd = pd.read_csv("data/preprocessing/2-horse-features.csv", index_col=[0])

In [181]:
fdd = pd.read_csv("data/preprocessing/1-feature-generation.csv", index_col=[0])

,horse_ids,race_id,level_0,index,track_id,race_class,distance,going,race_age,race_handicap,...,last_official_ratings,mean_figures,mean_ratings,best_rating_going,best_official_rating_going,win_percent_going,best_figures_distance,best_rating_distance,best_official_rating_distance,win_percent_distance
0,594697,496990.0,0,600,200.0,NaN,4620.0,1,5yo+,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,648218,497310.0,151,905,416.0,NaN,1540.0,8,4yo+,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,656944,497310.0,152,901,416.0,NaN,1540.0,8,4yo+,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,680760,497310.0,153,897,416.0,NaN,1540.0,8,4yo+,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,699549,497310.0,154,893,416.0,NaN,1540.0,8,4yo+,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1867790,1936677,783215.0,1867417,2714178,193.0,NaN,1210.0,8,3yo+,True,...,90.0,48.6,89.8,88.0,90.0,0.111111,45.0,87.0,84.0,0.0
1867791,2800202,783215.0,1867418,2714177,193.0,NaN,1210.0,8,3yo+,True,...,79.0,28.6,64.4,75.0,78.0,0.000000,NaN,NaN,NaN,NaN
1867792,2681637,783215.0,1867419,2714176,193.0,NaN,1210.0,8,3yo+,True,...,82.0,55.6,83.0,NaN,NaN,NaN,29.0,74.0,86.0,0.0
1867793,3096894,783215.0,1867413,2714183,193.0,NaN,1210.0,8,3yo+,True,...,83.0,25.6,60.0,75.0,83.0,0.333333,NaN,NaN,NaN,NaN
1867794,3461156,783287.0,1867794,2715014,416.0,NaN,1540.0,8,3yo+,True,...,52.0,0.0,69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
df = pd.read_csv("data/raw/races_UK2.csv")

In [153]:
df = df[df['date'].notna()]
df['date'] = df['date'].apply(
            lambda x: convertStringIntoDate(x))

In [157]:
df

,Unnamed: 0,race_id,track_name,track_id,race_class,distance,going,race_age,race_handicap,race_type,date
0,0,497243.0,Cork (IRE),596.0,NaN,3520.0,Soft,6yo+,False,Hurdle,2010-01-02
1,1,497306.0,Cork (IRE),596.0,NaN,3520.0,Soft,6yo+,False,Hurdle,2010-01-02
2,2,497241.0,Cork (IRE),596.0,NaN,3960.0,Soft,4yo+,False,Hurdle,2010-01-02
3,3,497301.0,Lingfield (AW),393.0,(Class 6),1540.0,Standard,4yo+,True,Flat,2010-01-02
4,4,497300.0,Lingfield (AW),393.0,(Class 5),1540.0,Standard,3yo+,False,Flat,2010-01-02
...,...,...,...,...,...,...,...,...,...,...,...
217000,217000,783145.0,Saint-Cloud (FR),219.0,NaN,1760.0,Good,3yo,False,Flat,2021-04-19
217001,217001,783150.0,Saint-Cloud (FR),219.0,NaN,2310.0,Good,5yo+,True,Flat,2021-04-19
217002,217002,783046.0,Santa Anita (USA),257.0,(Class 1),1430.0,Fast,3yo+,False,Flat,2021-04-19
217003,217003,783046.0,Santa Anita (USA),257.0,(Class 1),1430.0,Fast,3yo+,False,Flat,2021-04-19
217004,217004,783151.0,Saint-Cloud (FR),219.0,NaN,1760.0,Good,4yo+,True,Flat,2021-04-19

In [161]:
c = df['date'] - \
            df.groupby('race_id')['date'].shift()

In [162]:
c.unique()

array([nan, datetime.timedelta(0)], dtype=object)

In [172]:
c.fillna(0).apply(lambda x:  x.days if x != 0 else 0)

0         0
1         0
2         0
3         0
4         0
         ..
217000    0
217001    0
217002    0
217003    0
217004    0
Name: date, Length: 216960, dtype: int64

In [177]:
df

,Unnamed: 0,race_id,track_name,track_id,race_class,distance,going,race_age,race_handicap,race_type,date
0,0,497243.0,Cork (IRE),596.0,NaN,3520.0,Soft,6yo+,False,Hurdle,2010-01-02
1,1,497306.0,Cork (IRE),596.0,NaN,3520.0,Soft,6yo+,False,Hurdle,2010-01-02
2,2,497241.0,Cork (IRE),596.0,NaN,3960.0,Soft,4yo+,False,Hurdle,2010-01-02
3,3,497301.0,Lingfield (AW),393.0,(Class 6),1540.0,Standard,4yo+,True,Flat,2010-01-02
4,4,497300.0,Lingfield (AW),393.0,(Class 5),1540.0,Standard,3yo+,False,Flat,2010-01-02
...,...,...,...,...,...,...,...,...,...,...,...
217000,217000,783145.0,Saint-Cloud (FR),219.0,NaN,1760.0,Good,3yo,False,Flat,2021-04-19
217001,217001,783150.0,Saint-Cloud (FR),219.0,NaN,2310.0,Good,5yo+,True,Flat,2021-04-19
217002,217002,783046.0,Santa Anita (USA),257.0,(Class 1),1430.0,Fast,3yo+,False,Flat,2021-04-19
217003,217003,783046.0,Santa Anita (USA),257.0,(Class 1),1430.0,Fast,3yo+,False,Flat,2021-04-19
217004,217004,783151.0,Saint-Cloud (FR),219.0,NaN,1760.0,Good,4yo+,True,Flat,2021-04-19