In [2]:
import pandas as pd 
import numpy as np
import torch

from helper import convertStringIntoDate

In [9]:
runner_df = pd.read_csv("data/raw/runners_UK2.csv", index_col=[0])
race_df = pd.read_csv("data/raw/races_UK2.csv", index_col=[0])

In [10]:
new_going = race_df['going'].astype('category').cat.codes

In [45]:
race_df['race_age'].unique()

array(['6yo+', '4yo+', ' 4yo+', '3yo+', '5-7yo', '5yo', '3yo', ' 3yo',
       ' 5yo+', '5yo+', '4yo', '4-6yo', '6yo', ' 4-6yo', ' 3yo+', '5-6yo',
       '4-7yo', '3-5yo', '4-5yo', '4-8yo', ' 3-5yo', ' 4-5yo', '2yo',
       ' 4yo', ' 6yo+', ' 10yo+', '3-4yo', ' 4-7yo', 0, ' 5-7yo', '2yo+',
       ' 2yo', ' 3-4yo', '2-3yo', '0-45', ' 2yo+', ' 2-3yo', '3-6yo',
       ' 5-6yo', '10yo+', ' 4-8yo', '7yo+', '9yo+', ' 8yo+', '8yo+',
       ' 9yo+', ' 3-6yo', '5-8yo', '6-7yo'], dtype=object)

In [31]:
race_class_to_scale_dict = {
    '(Class 7)': 1,
    '(Class 6)': 2,
    '(Class 5)': 3,
    '(Class 4)': 4,
    '(Class 3)': 5,
    '(Class 2)': 6,
    '(Class 1)': 7,
}

In [22]:
going_to_scale_dict = {
    'Muddy': 0,
    'Sloppy': 0,
    'Very Soft': 1,
    'Heavy': 1,
    'Soft To Heavy': 2,
    'Soft': 3,
    'Yielding To Soft': 4,
    'Good To Soft': 5,
    'Yielding': 6,
    'Good To Yielding': 7,
    'Good':8,
    'Good To Firm':9,
    'Firm': 10,
    'Frozen': 11,

    'Slow': 3,
    'Sta   ndard To Slow': 4,
    'Standard To Slow': 4,
    'Standard': 6,
    'Fast': 8, 
    'Abandoned': 0,

}

In [ ]:
going_original_name_dict = {
    'Muddy': 'heavy',
    'Sloppy': 'heavy',
    'Very Soft': 'heavy',
    'Heavy': 'heavy',
    'Soft To Heavy': 'soft',
    'Soft': 'soft',
    'Yielding To Soft': 'good_soft',
    'Good To Soft': 'good_soft',
    'Yielding': 'good_soft',
    'Good To Yielding': 'good',
    'Good':'good',
    'Good To Firm':'good_firm',
    'Firm': 'firm',
    'Frozen': 'firm',

    'Slow': 'soft',
    'Sta   ndard To Slow': 'good_soft',
    'Standard To Slow': 'good_soft',
    'Standard': 'good',
    'Fast': 'firm', 
    'Abandoned': 'firm',
}

In [32]:
race_df['race_class_cats'] = race_df['race_class'].replace(race_class_to_scale_dict)

In [23]:
race_df['going_cats'] = race_df['going'].replace(going_to_scale_dict)

In [59]:
race_df['going_cats'], race_df['going']

(0         3
 1         3
 2         3
 3         6
 4         6
          ..
 217000    8
 217001    8
 217002    8
 217003    8
 217004    8
 Name: going_cats, Length: 217005, dtype: object,
 0             Soft
 1             Soft
 2             Soft
 3         Standard
 4         Standard
             ...
 217000        Good
 217001        Good
 217002        Fast
 217003        Fast
 217004        Good
 Name: going, Length: 217005, dtype: object)

In [57]:
runner_df.columns.values

array(['race_id', 'horse_ids', 'horse_names', 'draws', 'horse_ages',
       'horse_weight', 'horse_win_percents', 'jockey_ids',
       'jockey_win_percent', 'trainer_ids', 'trainer_win_percent',
       'days_since_last_race', 'mean_speed_figures', 'last_figures',
       'best_figures_dist', 'best_figures_going', 'top_speeds', 'ratings',
       'official_ratings', 'odds', 'places'], dtype=object)

In [54]:
runner_df['draws'].replace({np.isnan, np.random.randint()})

NameError: name 'random' is not defined

In [51]:
pd.qcut(runner_df['draws'], q=10, labels=False)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
     ...
12    9.0
13    9.0
14    9.0
15    4.0
16    6.0
Name: draws, Length: 2153513, dtype: float64

In [65]:
race_df['dist_cat'] = pd.qcut(race_df['distance'], q=10, labels=False)

In [82]:
runner_df['horse_ages'] = np.abs(runner_df['horse_ages'])

In [84]:
runner_df.loc[runner_df.horse_ages < 0]

Empty DataFrame
Columns: [race_id, horse_ids, horse_names, draws, horse_ages, horse_weight, horse_win_percents, jockey_ids, jockey_win_percent, trainer_ids, trainer_win_percent, days_since_last_race, mean_speed_figures, last_figures, best_figures_dist, best_figures_going, top_speeds, ratings, official_ratings, odds, places]
Index: []

[0 rows x 21 columns]

In [90]:
runner_df['places']

0       1
1       2
2       3
3       4
4       5
     ...
12    13
13    14
14    15
15    16
16    17
Name: places, Length: 2153513, dtype: object

In [74]:
runner_df['horse_ages']

0     7.0
1     6.0
2     7.0
3     8.0
4     5.0
     ...
12    6.0
13    5.0
14    4.0
15    4.0
16    6.0
Name: horse_ages, Length: 2153513, dtype: float64

In [184]:
fd = pd.read_csv("data/preprocessing/2-horse-features.csv", index_col=[0])

In [182]:
fdd = pd.read_csv("data/preprocessing/1-feature-generation.csv", index_col=[0])

In [185]:
fd

,horse_ids,race_id,track_id,race_class,distance,going,race_age,race_handicap,race_type,date,...,last_official_ratings,mean_figures,mean_ratings,best_rating_going,best_official_rating_going,win_percent_going,best_figures_distance,best_rating_distance,best_official_rating_distance,win_percent_distance
0,594697,496990.0,200.0,NaN,4620.0,1,5yo+,False,0,2010-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,648218,497310.0,416.0,NaN,1540.0,8,4yo+,True,1,2010-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,656944,497310.0,416.0,NaN,1540.0,8,4yo+,True,1,2010-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,680760,497310.0,416.0,NaN,1540.0,8,4yo+,True,1,2010-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,699549,497310.0,416.0,NaN,1540.0,8,4yo+,True,1,2010-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1867790,1936677,783215.0,193.0,NaN,1210.0,8,3yo+,True,1,2021-04-25,...,90.0,48.6,89.8,88.0,90.0,0.111111,45.0,87.0,84.0,0.0
1867791,2800202,783215.0,193.0,NaN,1210.0,8,3yo+,True,1,2021-04-25,...,79.0,28.6,64.4,75.0,78.0,0.000000,NaN,NaN,NaN,NaN
1867792,2681637,783215.0,193.0,NaN,1210.0,8,3yo+,True,1,2021-04-25,...,82.0,55.6,83.0,NaN,NaN,NaN,29.0,74.0,86.0,0.0
1867793,3096894,783215.0,193.0,NaN,1210.0,8,3yo+,True,1,2021-04-25,...,83.0,25.6,60.0,75.0,83.0,0.333333,NaN,NaN,NaN,NaN
1867794,3461156,783287.0,416.0,NaN,1540.0,8,3yo+,True,1,2021-04-25,...,52.0,0.0,69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

:

In [147]:
df = pd.read_csv("data/raw/races_UK2.csv")

In [153]:
df = df[df['date'].notna()]
df['date'] = df['date'].apply(
            lambda x: convertStringIntoDate(x))

In [157]:
df

,Unnamed: 0,race_id,track_name,track_id,race_class,distance,going,race_age,race_handicap,race_type,date
0,0,497243.0,Cork (IRE),596.0,NaN,3520.0,Soft,6yo+,False,Hurdle,2010-01-02
1,1,497306.0,Cork (IRE),596.0,NaN,3520.0,Soft,6yo+,False,Hurdle,2010-01-02
2,2,497241.0,Cork (IRE),596.0,NaN,3960.0,Soft,4yo+,False,Hurdle,2010-01-02
3,3,497301.0,Lingfield (AW),393.0,(Class 6),1540.0,Standard,4yo+,True,Flat,2010-01-02
4,4,497300.0,Lingfield (AW),393.0,(Class 5),1540.0,Standard,3yo+,False,Flat,2010-01-02
...,...,...,...,...,...,...,...,...,...,...,...
217000,217000,783145.0,Saint-Cloud (FR),219.0,NaN,1760.0,Good,3yo,False,Flat,2021-04-19
217001,217001,783150.0,Saint-Cloud (FR),219.0,NaN,2310.0,Good,5yo+,True,Flat,2021-04-19
217002,217002,783046.0,Santa Anita (USA),257.0,(Class 1),1430.0,Fast,3yo+,False,Flat,2021-04-19
217003,217003,783046.0,Santa Anita (USA),257.0,(Class 1),1430.0,Fast,3yo+,False,Flat,2021-04-19
217004,217004,783151.0,Saint-Cloud (FR),219.0,NaN,1760.0,Good,4yo+,True,Flat,2021-04-19

In [161]:
c = df['date'] - \
            df.groupby('race_id')['date'].shift()

In [162]:
c.unique()

array([nan, datetime.timedelta(0)], dtype=object)

In [172]:
c.fillna(0).apply(lambda x:  x.days if x != 0 else 0)

0         0
1         0
2         0
3         0
4         0
         ..
217000    0
217001    0
217002    0
217003    0
217004    0
Name: date, Length: 216960, dtype: int64

In [177]:
df

,Unnamed: 0,race_id,track_name,track_id,race_class,distance,going,race_age,race_handicap,race_type,date
0,0,497243.0,Cork (IRE),596.0,NaN,3520.0,Soft,6yo+,False,Hurdle,2010-01-02
1,1,497306.0,Cork (IRE),596.0,NaN,3520.0,Soft,6yo+,False,Hurdle,2010-01-02
2,2,497241.0,Cork (IRE),596.0,NaN,3960.0,Soft,4yo+,False,Hurdle,2010-01-02
3,3,497301.0,Lingfield (AW),393.0,(Class 6),1540.0,Standard,4yo+,True,Flat,2010-01-02
4,4,497300.0,Lingfield (AW),393.0,(Class 5),1540.0,Standard,3yo+,False,Flat,2010-01-02
...,...,...,...,...,...,...,...,...,...,...,...
217000,217000,783145.0,Saint-Cloud (FR),219.0,NaN,1760.0,Good,3yo,False,Flat,2021-04-19
217001,217001,783150.0,Saint-Cloud (FR),219.0,NaN,2310.0,Good,5yo+,True,Flat,2021-04-19
217002,217002,783046.0,Santa Anita (USA),257.0,(Class 1),1430.0,Fast,3yo+,False,Flat,2021-04-19
217003,217003,783046.0,Santa Anita (USA),257.0,(Class 1),1430.0,Fast,3yo+,False,Flat,2021-04-19
217004,217004,783151.0,Saint-Cloud (FR),219.0,NaN,1760.0,Good,4yo+,True,Flat,2021-04-19

In [5]:
df = pd.read_csv("data/preprocessing/4-pedigree-group.csv", index_col=[0])

In [7]:
df.columns.values

array(['race_id', 'horse_ids', 'trainer_ids', 'jockey_ids', 'track_id',
       'race_class', 'distance', 'going', 'race_age', 'race_handicap',
       'race_type', 'date', 'distance_categories', 'race_type__0',
       'race_type__1', 'race_type__2', 'draws', 'horse_ages',
       'horse_weight', 'horse_win_percents', 'jockey_win_percent',
       'trainer_win_percent', 'days_since_last_race',
       'mean_speed_figures', 'last_figures', 'best_figures_dist',
       'best_figures_going', 'top_speeds', 'ratings', 'official_ratings',
       'odds', 'places', 'won', 'sire_id', 'dam_id', 'dam_sire_id',
       'length', 'date_race_id', 'last_ratings', 'last_official_ratings',
       'mean_figures', 'mean_ratings', 'difference_in_ratings',
       'going_cat', 'best_rating_going', 'best_official_rating_going',
       'win_percent_going', 'best_figures_distance',
       'best_rating_distance', 'best_official_rating_distance',
       'win_percent_distance', 'sire_win_percent', 'dam_win_percent',
       'dam_sire_win_percent', 'sire_og_going_win_percent',
       'sire_prog_going_win_percent', 'sire_og_type_win_percent',
       'sire_prog_type_win_percent', 'sire_og_dist_win_percent',
       'sire_prog_dist_win_percent', 'dam_og_going_win_percent',
       'dam_prog_going_win_percent', 'dam_og_type_win_percent',
       'dam_prog_type_win_percent', 'dam_og_dist_win_percent',
       'dam_prog_dist_win_percent'], dtype=object)

In [27]:
test = pd.read_csv("data/preprocessing/6-test-data.csv", index_col=[0])
train = pd.read_csv("data/preprocessing/6-train-data.csv", index_col=[0])

FileNotFoundError: [Errno 2] No such file or directory: '5-test-data.csv'

In [9]:
df = pd.read_csv("data/preprocessing/5-scaled-data.csv", index_col=[0])

In [14]:
from sklearn.model_selection import train_test_split

In [21]:
h_train, h_test = train_test_split(df.groupby('offset_horse_id').mean().index, test_size=0.3)

In [24]:
ht_train = df.set_index('offset_horse_id').loc[h_train]
ht_test = df.set_index('offset_horse_id').loc[h_test]

In [25]:
ht_train

,horse_ids,date_race_id,distance,going,race_class,race_type__0,race_type__1,race_type__2,race_handicap,draws,...,dam_og_going_win_percent,dam_og_type_win_percent,dam_og_dist_win_percent,sire_prog_going_win_percent,sire_prog_type_win_percent,sire_prog_dist_win_percent,dam_prog_going_win_percent,dam_prog_type_win_percent,dam_prog_dist_win_percent,num_previous_races
offset_horse_id,,,,,,,,,,,,,,,,,,,,,
110417,874478,81844,0.097992,0.283139,NaN,False,True,False,False,1.708279,...,-0.131884,-0.19208,-0.181908,0.494778,0.751692,0.701865,1.306030,1.679408,2.464726,0
110417,874478,82254,0.097992,0.283139,NaN,False,True,False,False,-0.291392,...,-0.131884,-0.19208,-0.181908,0.494778,0.751692,0.701865,1.306030,1.679408,2.464726,1
110417,874478,84045,0.268302,0.283139,NaN,False,True,False,False,-0.291392,...,-0.131884,-0.19208,-0.181908,0.494778,0.751692,0.220803,1.306030,1.679408,-0.625233,2
110417,874478,96788,-0.412938,0.283139,NaN,False,True,False,False,0.597351,...,-0.131884,-0.19208,-0.181908,0.494778,0.751692,0.019657,1.306030,1.679408,0.919747,3
110417,874478,102007,-0.412938,0.283139,NaN,False,True,False,False,0.819536,...,-0.131884,-0.19208,-0.181908,0.494778,0.751692,0.019657,1.306030,1.679408,0.919747,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46131,782777,86129,1.801092,-0.471000,0.641456,True,False,False,True,-0.957949,...,-0.131884,-0.19208,-0.181908,0.998645,2.076567,1.199515,0.428498,1.437604,2.464726,31
46131,782777,87373,2.056557,0.660209,0.641456,True,False,False,True,-0.957949,...,-0.131884,-0.19208,-0.181908,1.182468,2.076567,0.465207,0.412247,1.437604,0.061425,32
46131,782777,95864,1.545627,0.660209,0.641456,True,False,False,True,-0.957949,...,-0.131884,-0.19208,-0.181908,1.182468,2.076567,0.793753,0.412247,1.437604,0.257613,33
46131,782777,97362,2.056557,-1.225139,0.641456,True,False,False,True,-0.957949,...,-0.131884,-0.19208,-0.181908,1.112674,2.076567,0.465207,1.137274,1.437604,0.061425,34
46131,782777,98641,1.205007,-1.979278,0.641456,True,False,False,True,-0.957949,...,-0.131884,-0.19208,-0.181908,1.112674,2.076567,1.033339,1.137274,1.437604,0.919747,35

In [26]:
ht_test

,horse_ids,date_race_id,distance,going,race_class,race_type__0,race_type__1,race_type__2,race_handicap,draws,...,dam_og_going_win_percent,dam_og_type_win_percent,dam_og_dist_win_percent,sire_prog_going_win_percent,sire_prog_type_win_percent,sire_prog_dist_win_percent,dam_prog_going_win_percent,dam_prog_type_win_percent,dam_prog_dist_win_percent,num_previous_races
offset_horse_id,,,,,,,,,,,,,,,,,,,,,
29565,762933,8139,-1.009023,1.414348,NaN,False,True,False,False,0.819536,...,-0.131884,-0.19208,5.509365,1.835076,1.450094,1.453525,1.306030,1.679408,2.464726,0
29565,762933,8773,-1.094178,1.414348,NaN,False,True,False,False,0.597351,...,-0.131884,-0.19208,-0.181908,1.835076,1.450094,-1.703446,1.306030,1.679408,-0.625233,1
29565,762933,10774,-1.009023,1.414348,NaN,False,True,False,False,1.708279,...,-0.131884,-0.19208,5.509365,1.835076,1.450094,1.453525,1.306030,1.679408,2.464726,2
66334,812252,37881,-1.009023,1.037278,0.021085,False,True,False,False,-0.735763,...,-0.131884,-0.19208,2.347546,1.621277,1.075056,0.167352,-0.355963,0.123876,-0.087849,0
66334,812252,38465,-1.009023,0.283139,-0.599286,False,True,False,False,-0.513578,...,-0.131884,-0.19208,2.347546,0.820365,1.075056,0.167352,0.605871,0.123876,-0.087849,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67755,813397,56753,-1.009023,1.037278,-0.599286,False,True,False,False,-0.735763,...,-0.131884,-0.19208,-0.181908,1.032585,0.650253,0.469959,-0.887800,-0.436379,-0.625233,5
20920,707363,4399,1.034697,0.660209,NaN,False,True,False,False,-0.957949,...,-0.131884,-0.19208,-0.181908,0.221867,1.421621,-1.703446,-0.887800,-0.066956,-0.625233,0
20920,707363,5408,0.694077,1.414348,NaN,False,True,False,False,-0.957949,...,-0.131884,-0.19208,-0.181908,2.038111,1.421621,2.212176,-0.887800,-0.066956,-0.625233,1
204673,3098823,173328,-0.668403,1.414348,NaN,False,True,False,False,0.375165,...,-0.131884,-0.19208,-0.181908,-0.398314,-0.778459,-1.703446,-0.887800,-1.141642,-0.625233,0
204673,3098823,174260,-0.838713,1.414348,NaN,False,True,False,False,0.819536,...,-0.131884,-0.19208,-0.181908,-0.398314,-0.778459,-1.703446,-0.887800,-1.141642,-0.625233,1