In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/raw/full_data_with_features.csv")

In [4]:
horse_grouped = df.groupby('horse_ids')['date_race_id'].apply(list).to_dict()
def dothis(row):
  fl = horse_grouped[row['horse_ids']]
  return fl[:fl.index(row['date_race_id'])]

# list(df.loc[(df.horse_ids == row.horse_ids) & (df.date < row.date)]['race_id'])

In [10]:
#indexes_of_races_for_horse 
horse_history = pd.DataFrame(index=df.index)
horse_history['race_id'] = df['race_id']
horse_history['horse_ids'] = df['horse_ids']
horse_history['old_races'] = df.apply(dothis, axis=1)

In [14]:
new_df = df.merge(horse_history[['race_id','horse_ids','old_races']], on=['race_id','horse_ids']).iloc[: , 1:]

In [17]:
new_df

0                                        []
1                                        []
2                                        []
3                                        []
4                                        []
                         ...
1868433    [174502, 175620, 176630, 178583]
1868434            [174355, 175620, 180120]
1868435            [177593, 180120, 182463]
1868436            [177966, 180670, 180758]
1868437                                  []
Name: old_races, Length: 1868438, dtype: object

In [21]:
new_df = new_df[new_df.old_races.astype('bool')].drop(df.columns[-1], axis=1)
new_df.to_csv("full_data_with_horse_history.csv")

In [9]:
histories = horse_history.explode('date_race_id')

In [10]:
import numpy as np

In [14]:
horse_hist = histories.dropna()

In [1]:
df

NameError: name 'df' is not defined

In [15]:
horse_hist

          race_id  horse_ids date_race_id
279      495896.0     697748           15
479      495904.0     659459           28
671      496239.0     720756           47
736      496380.0     734395           39
700      496375.0     738636           47
...           ...        ...          ...
1868062  783217.0    3198779       180120
1868062  783217.0    3198779       182463
1868056  783217.0    3208528       177966
1868056  783217.0    3208528       180670
1868056  783217.0    3208528       180758

[20797669 rows x 3 columns]

In [12]:
pd.merge(histories[:1000], df[:1000], how='left', left_on=['horse_ids','date_race_id'], right_on=['horse_ids','race_id'])

,race_id_x,horse_ids,date_race_id_x,race_id_y,track_id,race_class,distance,going,race_age,race_handicap,...,sire_prog_type_win_percent,sire_og_dist_win_percent,sire_prog_dist_win_percent,dam_og_going_win_percent,dam_prog_going_win_percent,dam_og_type_win_percent,dam_prog_type_win_percent,dam_og_dist_win_percent,dam_prog_dist_win_percent,date_race_id_y
0,495885.0,716693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,496991.0,674407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,496991.0,699630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,496991.0,693632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,496991.0,660606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,497347.0,728645,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,497641.0,749581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,497609.0,601548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,497641.0,749582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,497641.0,749579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def doit(row):
    new_row = df.loc[(df.date_race_id== row.date_race_id) & (df.horse_ids == row.horse_ids)].values
    if len(new_row) == 0:
        return pd.Series(np.zeros(len(df.columns)), index=df.columns)
    new_row = new_row[0]
    return pd.Series(new_row, index=df.columns)

In [18]:
horse_hist

          race_id  horse_ids date_race_id
279      495896.0     697748           15
479      495904.0     659459           28
671      496239.0     720756           47
736      496380.0     734395           39
700      496375.0     738636           47
...           ...        ...          ...
1868062  783217.0    3198779       180120
1868062  783217.0    3198779       182463
1868056  783217.0    3208528       177966
1868056  783217.0    3208528       180670
1868056  783217.0    3208528       180758

[20797669 rows x 3 columns]

In [17]:
fff = horse_hist.to_csv("fff.csv")

In [45]:
df = df.set_index(["race_id","horse_ids"])

In [48]:
df

                    track_id  race_class  distance  going  race_age  \
race_id  horse_ids
495885.0 716693        394.0           5    2420.0     18        32
496991.0 674407        200.0          -1    3520.0      8        41
         699630        200.0          -1    3520.0      8        41
         693632        200.0          -1    3520.0      8        41
         660606        200.0          -1    3520.0      8        41
...                      ...         ...       ...    ...       ...
783217.0 3119662       193.0          -1    2200.0      4        29
         3102082       193.0          -1    2200.0      4        29
         3198779       193.0          -1    2200.0      4        29
         3208528       193.0          -1    2200.0      4        29
783410.0 3533498       205.0          -1    4070.0     19        41

                    race_handicap  race_type        date  draws  horse_ages  \
race_id  horse_ids
495885.0 716693             False          1  2010-01-01      5           9
496991.0 674407             False          0  2010-01-01      0          12
         699630             False          0  2010-01-01      0          11
         693632             False          0  2010-01-01      0          12
         660606             False          0  2010-01-01      0          11
...                           ...        ...         ...    ...         ...
783217.0 3119662            False          1  2021-04-25      1           8
         3102082            False          1  2021-04-25     11           8
         3198779            False          1  2021-04-25      5           8
         3208528            False          1  2021-04-25      3           8
783410.0 3533498             True          0  2021-04-25      0          10

                    ...  sire_prog_type_win_percent  sire_og_dist_win_percent  \
race_id  horse_ids  ...
495885.0 716693     ...                    0.055738                  0.000000
496991.0 674407     ...                    0.121212                  0.000000
         699630     ...                    0.115689                  0.000000
         693632     ...                    0.088083                  0.000000
         660606     ...                    0.080808                  0.000000
...                 ...                         ...                       ...
783217.0 3119662    ...                    0.133333                  0.333333
         3102082    ...                    0.175084                  0.857143
         3198779    ...                    0.119587                  0.500000
         3208528    ...                    0.040000                  0.666667
783410.0 3533498    ...                    0.138373                  0.000000

                    sire_prog_dist_win_percent  dam_og_going_win_percent  \
race_id  horse_ids
495885.0 716693                       0.070175                  0.000000
496991.0 674407                       0.100000                  0.000000
         699630                       0.079336                  0.000000
         693632                       0.060000                  0.000000
         660606                       0.087857                  0.000000
...                                        ...                       ...
783217.0 3119662                      0.500000                  0.444444
         3102082                      0.196970                  0.000000
         3198779                      0.128854                  0.500000
         3208528                      0.000000                  0.000000
783410.0 3533498                      0.127624                  0.000000

                    dam_prog_going_win_percent  dam_og_type_win_percent  \
race_id  horse_ids
495885.0 716693                       0.081140                 0.000000
496991.0 674407                       0.117647                 0.000000
         699630                       0.113537                 0.000000
         693632                       0.043478                 0.000000
         660606                       0.085664                 0.000000
...                                        ...                      ...
783217.0 3119662                      0.100000                 0.333333
         3102082                      0.158621                 0.818182
         3198779                      0.111013                 0.600000
         3208528                      0.000000                 0.571429
783410.0 3533498                      0.116338                 0.000000

                    dam_prog_type_win_percent  dam_og_dist_win_percent  \
race_id  horse_ids
495885.0 716693                      0.055738                 0.000000
496991.0 674407                      0.121212                 0.000000
         699630                      0.115689                 0.000000
         693632                      0.088083                 0.000000
         660606                      0.080808                 0.000000
...                                       ...                      ...
783217.0 3119662                     0.133333                 0.333333
         3102082                     0.175084                 0.857143
         3198779                     0.119587                 0.500000
         3208528                     0.040000                 0.666667
783410.0 3533498                     0.138373                 0.000000

                    dam_prog_dist_win_percent  date_race_id
race_id  horse_ids
495885.0 716693                      0.070175             0
496991.0 674407                      0.100000             1
         699630                      0.079336             1
         693632                      0.060000             1
         660606                      0.087857             1
...                                       ...           ...
783217.0 3119662                     0.500000        188851
         3102082                     0.196970        188851
         3198779                     0.128854        188851
         3208528                     0.000000        188851
783410.0 3533498                     0.127624        188815

[1868438 rows x 62 columns]

In [52]:
df.index[0]

(495885.0, 716693)

In [53]:
df.loc[(495885.0, 716693)]

track_id                        394.0
race_class                          5
distance                       2420.0
going                              18
race_age                           32
                               ...
dam_og_type_win_percent           0.0
dam_prog_type_win_percent    0.055738
dam_og_dist_win_percent           0.0
dam_prog_dist_win_percent    0.070175
date_race_id                        0
Name: (495885.0, 716693), Length: 62, dtype: object

In [23]:
from torch.utils.data import Dataset, DataLoader
import torch

c:\Users\leish\anaconda3\envs\tf3\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [25]:
class HorseHistoryDataset(Dataset):
    def __init__(self, raw_data_file , index_file, transform=None) -> None:
        self.raw_data = pd.read_csv(raw_data_file, index_col=[0])
        self.horse_history_index = pd.read_csv(index_file, index_col=[0])

        self.raw_data = self.raw_data.set_index(["date_race_id", "horse_ids"])
        self.horse_history_index = self.horse_history_index.set_index(["race_id", "horse_ids"])   

        self.transform=transform

    def __len__(self) -> int:
        return len(self.raw_data)

    def __getitem__(self, idx):
        if torch.is_tensor(idx):
            idx = idx.tolist()
        
        print(idx)

        horse = self.raw_data.iloc[idx]
        if self.transform:
            pass 

        try: 
            hist = self.horse_history_index.loc[(horse.race_id, horse.index[1])]
            x_data = torch.tensor(self.raw_data.loc[(hist.data_race_id, horse.horse_ids)].values)
            # Gets the horse race that is currently occuring. Will be predicting the track stats too
            # Could just extract 'won' variable
            y_data = torch.tensor(horse).values
        except KeyError as e:
            return None
        
        return x_data, y_data
    
tl = DataLoader(HorseHistoryDataset("data/raw/full_data_with_horse_history.csv", "fff.csv"), batch_size=32)

AttributeError: 'HorseHistoryDataset' object has no attribute 'filter_df'

In [ ]:
train_features, train_labels = next(iter(tl))
train_features, train_labels

0

C:\Users\leish\AppData\Local\Temp\ipykernel_22440\4156750013.py:27: PerformanceWarning: indexing past lexsort depth may impact performance.
  hist = self.horse_history_index.loc[(horse.race_id, horse.index[1])]

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

TypeError: default_collate: batch must contain tensors, numpy arrays, numbers, dicts or lists; found <class 'NoneType'>